.calculator {
    background-color: black;
    width: 19vw;
    margin: auto;
    margin-top: 80px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0px;
}

input {
    background-color:black;
    border: none;
    outline: none;
    margin-top: 40%;
    text-align: right;
    cursor: pointer;
    color: white;
    font-size: 25px;
}
input::placeholder{
    color: white;
}
.num-operator {
    background-color: rgb(26, 26, 26);
    height: 42vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 43%;
}

.num-operator>button {
    margin: 12px;
    border: none;
    align-items: center;
    box-shadow: rgba(22, 22, 22, 0.04) 0px 3px 5px;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;

}

.num-operator>#all-clear,
.num-operator>#plus-minus,
.num-operator>#module {
    color: aqua;
}

.num-operator>#Divide,
.num-operator>#multiply,
.num-operator>#minus,
.num-operator>#plus,
.num-operator>#equal {
    color: red;
}


.num-operator>#one,
.num-operator>#two,
.num-operator>#three,
.num-operator>#four,
.num-operator>#five,
.num-operator>#six,
.num-operator>#seven,
.num-operator>#eight,
.num-operator>#nine,
.num-operator>#zero,
.num-operator>#clear,
.num-operator>#dotted {
    color: white;
}

button:hover{
    background-color: rgb(130, 80, 80);
}